<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="angular/angular.min.js"></script>
  <script src="angular/angular-resource.js"></script>
	<script src="js/matriculas.js"></script>
	<meta charset="UTF-8">
</head>
<body ng-app="app">
<div ng-controller="controlador">
<div class="container">
<div class="well well-lg">
	<center><h3><strong>UNIVERSIDAD NACIONAL DE LOJA (AngularJS)</strong></h3>
</div><br><br>



<form ng-show="formulario" ng-submit="Validar()">
<strong>Ingrese su cedula: </strong><input name="cedula" placeholder="Ingrese su cedula ..." type="Text" ng-model="cedula">
<input class="btn btn-info" type="submit" value="Buscar">
</form>

<div ng-show="msg"><center><h3 class="alert alert-info">{{mensaje}}</h3></center></div>


<div ng-show="materia">
<div><center><h3 class="alert alert-success">CURSOS DISPONIBLES</h3></center></div> <br>
<table class="table table-striped">
	<tr>
	<td><strong>Nombre</strong></td>
	<td><strong>Cupos Disponibles</strong></td>
	<td></td>
	</tr>
	<tr ng-repeat="c in listamateria">
		<td>{{c.nombre}}</td>
		<td>{{c.cupo}}</td>
		<td><button class="btn btn-info" ng-click="matriculado()"><strong>Matricularse</strong></button></td>
	</tr>
</table>
</div><br><br>
<div class="well well-lg">
		<p class="text-center"> 
			<strong>Hoover Stiven Escobar Pardo</strong>
			</br>	
			Quinto Ciclo "A" 
			</br>
			2016
		</p>
	</div>
</div>
	
</div>
</body>
</html>