{% extends 'Matriculas/master.html' %}
	{% block contenido %}
		{% if estudiante %}
		<div class="container">
		<center> <H3 class="alert alert-success">ESTUDIANTES REGISTRADOS</H3></center>
		
		<table class="table table-striped">
		<tr>
			<td><label>Cedula</label></td>
			<td><label>Nombres</label></td>
			<td><label>Apellidos</label></td>
			<td></td>
			
		</tr>

		{% for c in estudiante %}
		<tr>
			<td>{{c.cedula}}</td>
			<td>{{c.nombre}}</td>
			<td>{{c.apellido}}</td>
			<td><a class="glyphicon glyphicon-pencil" title="Modificar" href="ModificarEstudiante?cedula={{c.cedula}}"></a> 
			| <a class="glyphicon glyphicon-trash" href="EliminarEstudiante?cedula={{c.cedula}}" title="Eliminar"></a></td>
			
		</tr>
		{% endfor %}
		</table>
		{% else %}
		

		<div class="alert alert-success"><center> NO EXISTEN CLIENTES REGISTRADOS</center></div>
		{% endif %}
		<br>
		<a href="NuevoEstudiante"><center><button class="btn btn-success" title="Agregar Estudiante" >Nuevo Estudiante</button></center></a><br>

		

		{% if materia %}
		<center> <H3 class="alert alert-success">MATERIAS REGISTRADAS</H3></center>
		
		<table class="table table-striped">
		<tr>
			
			<td><label>Nombres</label></td>
			<td><label>Cupos</label></td>
			<td></td>
			
		</tr>

		{% for c in materia %}
		<tr>
			
			<td>{{c.nombre}}</td>
			<td>{{c.cupo}}</td>
			<td><a class="glyphicon glyphicon-pencil" href="ModificarMateria?nombre={{c.nombre}}" title="Modificar"></a> | <a class="glyphicon glyphicon-trash" href="EliminarMateria?nombre={{c.nombre}}" title="Eliminar"></a></td>
			
		
		</tr>
		{% endfor %}
		</table>
		{% else %}
		

		<div class="alert alert-success"><center> NO EXISTEN CLIENTES REGISTRADOS</center></div>
		{% endif %}

<br>
<a href="NuevaMateria"><center><button class="btn btn-success" title="Agregar Materia" >Nuevo Materia</button></center></a><br><br>
</div>
	{% endblock contenido %}
